@using System.Web.Optimization
@using KSEPM.Resources.Views.Charts
@using KSEPM.Web.Infrastructure.Identity
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page-header-title">
    <h3>@ChartsResource.V_TC_main_title</h3>
    <p>@ChartsResource.V_TC_main_subtitle</p>
</div>


<div class="row">
    <div class="col-md-7 table-box-div">
        <h5 class="table-caption">
            <i class="fa fa-bars"></i>
            @ChartsResource.V_TC_sum_detailtable_title
        </h5>
        <div id="detailed-table-custom-toolbar">
            <div class="btn-group btn-group-sm table-btngroup-timespan-selector">
                <button type="button" class="btn btn-default" data-timespan="month">@ChartsResource.V_TC_month</button>
                <button type="button" class="btn btn-default" data-timespan="week">@ChartsResource.V_TC_week</button>
                <button type="button" class="btn btn-default active" data-timespan="day">@ChartsResource.V_TC_day</button>
            </div>
        </div>
        <table data-toggle="table" data-url="/Chart/TableDetailedInfo" data-stripped="true" data-height="500" data-toolbar="#detailed-table-custom-toolbar" data-show-columns="true">
            <thead>
                <tr>
                    <th data-field="Position" data-sortable="true" data-switchable="false" class="success">#</th>
                    <th data-field="Name" data-formatter="sellerNameFormatter" data-switchable="false">@ChartsResource.V_TC_table_td_name</th>
                    <th data-formatter="sellPointCityFormatter" data-halign="center" data-align="center">@ChartsResource.V_TC_table_td_city</th>
                    <th data-formatter="sellPointNameFormatter" data-halign="center" data-align="center">@ChartsResource.V_TC_table_td_sell_point</th>
                    <th data-sortable="true" data-formatter="sellDateFormatter" data-switchable="false" data-halign="center" data-align="center">@ChartsResource.V_TC_table_td_sell_date</th>
                    @if (User.IsInRole(AccessIdentityRole.Director))
                    {
                        <th data-field="Ammount" data-sortable="true" data-switchable="false" data-halign="center" data-align="center" class="warning">@ChartsResource.V_TC_table_td_ammount</th>
                    }
                    <th data-field="Points" data-sortable="true" data-switchable="false" data-halign="center" data-align="center" class="info">@ChartsResource.V_TC_table_td_points</th>
                    <th data-field="Achievements" data-halign="center" data-align="center">@ChartsResource.V_TC_table_td_achievement</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="col-md-5 table-box-div">
        <div class="row">
            <div id="sellerRankingTable">
                <h5 class="table-caption">
                    <i class="fa fa-flag-checkered"></i>
                    @ChartsResource.V_TC_overall_table_title
                </h5>
                <div id="overall-table-custom-toolbar">
                    <div class="btn-group btn-group-sm table-btngroup-timespan-selector">
                        <button type="button" class="btn btn-default" data-timespan="month">@ChartsResource.V_TC_month</button>
                        <button type="button" class="btn btn-default" data-timespan="week">@ChartsResource.V_TC_week</button>
                        <button type="button" class="btn btn-default active" data-timespan="day">@ChartsResource.V_TC_day</button>
                    </div>
                </div>
                <table data-toggle="table" data-url="/Chart/TableInfo/" data-stripped="true" data-height="300" data-toolbar="#overall-table-custom-toolbar" data-row-style="rowStyle">
                    <thead>
                        <tr>
                            <th data-field="Position" data-sortable="true">#</th>
                            <th data-field="Name">@ChartsResource.V_TC_table_td_name</th>
                            <th data-field="ChairCount" data-halign="center" data-align="center">@ChartsResource.V_TC_table_td_chaircount</th>
                            @if (User.IsInRole(AccessIdentityRole.Director))
                            {
                                <th data-field="Ammount" data-halign="center" data-align="center" data-sortable="true" class="warning">@ChartsResource.V_TC_table_td_ammount</th>
                            }
                            <th data-field="Points" data-halign="center" data-align="center" data-sortable="true" class="info">@ChartsResource.V_TC_table_td_points</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="sellPointsRankingTable">
                <h5 class="table-caption">
                    <i class="fa fa-flag-checkered"></i>
                    @ChartsResource.V_TC_overall_table_title
                </h5>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@ChartsResource.V_TC_sellpointranks_table_pointname</th>
                            <th class="text-center">@ChartsResource.V_TC_table_td_chaircount</th>
                            @if (User.IsInRole(AccessIdentityRole.Director))
                            {
                                <th class="text-center">@ChartsResource.V_TC_sellpointranks_table_chairlist</th>
                                <th class="text-center">@ChartsResource.V_TC_table_td_ammount</th>
                            }
                            <th class="text-center">@ChartsResource.V_TC_table_td_points</th>
                        </tr>
                    </thead>
                    <tbody id="sellPointsRankingTBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script id="sellPointRankTableTRTemplate" type="text/x-jsrender">
        {{for #data}}
        <tr>
            <td class="success">{{:#getIndex() + 1}}</td>
            <td>{{:SellPointName}}</td>
            <td class="text-center">{{:SelledChairCount}}</td>
            @if (User.IsInRole(AccessIdentityRole.Director))
            {
                <td class="text-center">
                    <select>
                        {{for SelledChairList}}
                        <option>{{:#data}}</option>
                        {{/for}}
                    </select>
                </td>
                <td class="warning text-center">{{:Ammount}}</td>
            }
            <td class="info text-center">{{:Points}}</td>
        </tr>
        {{/for}}
    </script>

    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Chart/SellPointRanking',
                success: function (data) {
                    $('#sellPointsRankingTBody').append($('#sellPointRankTableTRTemplate').render(data));
                },
                error: function (data) {
                    alert('Error while calling SellPoingRanking server method');
                }
            });

        });
    </script>
    
}