@using System.Web.Optimization
@using KSEPM.Resources.Errors
@using KSEPM.Resources.Views.ManageAccount

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page-header-title">
    <h3>@ManageAccountResource.V_MA_main_title</h3>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="row add-form-margin">
            <form id="changePasswordForm" method="post" role="form">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">@ManageAccountResource.V_MA_form_oldpassword</label>
                        <div class="col-md-8">
                            <input class="form-control input-sm" type="text" name="OldPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">@ManageAccountResource.V_MA_form_newpassword</label>
                        <div class="col-md-8">
                            <input class="form-control input-sm" type="text" name="NewPassword" id="NewPasswordInput" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">@ManageAccountResource.V_MA_form_repeatnewpassword</label>
                        <div class="col-md-8">
                            <input class="form-control input-sm" type="text" name="RepeatNewPassword" id="repeatNewPasswordInput"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn btn-success btn-block" id="selectChairButton">@ManageAccountResource.V_MA_form_submitchanges_btn</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {

            $("#changePasswordForm").validate({
                rules: {
                    OldPassword: {
                        required: true,
                        rangelength: [6, 20]
                    },
                    NewPassword: {
                        required: true,
                        rangelength: [6, 20]
                    },
                    RepeatNewPassword: {
                        required: true,
                        rangelength: [6, 20],
                        passwordComparingRule: true
                    }
                },
                messages: {
                    OldPassword: {
                        required: $.validator.format("@ErrorMessage.ERR_field_empty_js", '@ManageAccountResource.V_MA_form_newpassword'),
                        rangelength: $.validator.format("@ErrorMessage.ERR_field_shortlong_js")
                    },
                    NewPassword: {
                        required: $.validator.format("@ErrorMessage.ERR_field_empty_js", '@ManageAccountResource.V_MA_form_oldpassword'),
                        rangelength: $.validator.format("@ErrorMessage.ERR_field_shortlong_js")
                    },
                    RepeatNewPassword: {
                        required: $.validator.format("@ErrorMessage.ERR_field_empty_js", '@ManageAccountResource.V_MA_form_repeatnewpassword'),
                        rangelength: $.validator.format("@ErrorMessage.ERR_field_shortlong_js"),
                        passwordComparingRule: '@ErrorMessage.ERR_field_notequalpasswords_js'
                    }
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent('div')).addClass('validation-span-error field-validation-error font-style-normal-important');
                },
                submitHandler: function (form) {
                    var token = $('[name=__RequestVerificationToken]').val();
                    var headers = {};
                    headers["__RequestVerificationToken"] = token;

                    $.ajax({
                        type: "POST",
                        url: '/ManageAccount/ChangePassword/',
                        headers: headers,
                        data: form.stringify(),
                        success: function (data) {

                        },
                        error: function (data) {
                            alert('error');
                        }
                    });
                }
            });

            jQuery.validator.addMethod('passwordComparingRule', function () {
                return $('#NewPasswordInput').val() === $('#repeatNewPasswordInput').val();
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}